<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.nearby">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NearBy">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Authentication"/>
        <activity android:name=".activities.MainActivity" />

        <receiver
            android:name=".receiver.PeriodicTaskReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="${packageName}.alarm.action.trigger" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.PeriodicTaskService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.project.nearby.services.PeriodicTaskService" />
            </intent-filter>
        </service>
        <service
            android:name=".services.LocationService"
            android:foregroundServiceType="location"
            android:exported="false"/>
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyDdWem_wcGX2I9_bGDmeZ_jw9V6LTGYdBA" />
    </application>

</manifest>